[Desktop Entry]
Name=VIEW CAMERAS
Type=Application
Exec=bash cameras_view.sh
Terminal=false
StartupNotify=false
Path=/home/ubuntu/snav_ws/snav/scripts/
