[Desktop Entry]
Name=KILL DRIVERS
Type=Application
Exec=bash stop_drivers.sh
Path=/home/ubuntu/snav_ws/snav/scripts/
Terminal=true
X-KeepTerminal=false
