[Desktop Entry]
Name=START RECORD
Type=Application
Exec=bash /home/ubuntu/snav_ws/snav/scripts/record_script.sh
Terminal=true
StartupNotify=false
Path=/home/ubuntu/rosbags
GenericName=
Name[en]=_START RECORD
X-KeepTerminal=true
